td {
  width: 100px;
}

form {
  padding: 20px;
  margin: 20px;
  background-color: #F2F2F2;
}

h3 {
  text-align: center;
  font-weight: bold;
}

footer {
  margin: 20px;
}

.quote {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
}

.msgInp {
  width: 500px;
  height: 100px;
}

.git {
  margin: 20px 20px 0 20px;
  background-color: #F2F2F2;
  padding: 20px;
}

.socialsdiv {
  height: 20px;
  text-align: center;
}

.socials {
  height: 30px;
  text-align: center;
}

.socials:hover {
  border: 1px solid;
}

.logo {
  height: 30px;
  position: relative;
  bottom: 5px;
  padding-left: 9px;
}
